/*Cuadro de texto Example*/
#cuadrotext {
	margin-top: 70px;
}
/*Parrafos con botones*/
.text2 {
	margin-bottom: 50px;
}
/*Tablas*/
.text3 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Cuadro de foto*/
.text4 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Parte de los Labels*/
.text5 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Parte cuadro de mensajes*/
.text6 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Dropdown*/
.text7 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Navegador simple*/
.text8 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Navegador Header*/
.text9 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Parte de Alertas*/
.text10 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Parte de gráfico de barras*/
.text11 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Enlistados en cuadros*/
.text12 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Paneles*/
.text13 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Parte de cuadro parrafo*/
.text14 {
	margin-top: 35px;
	margin-bottom: 50px;
}
/*Carrusel*/
.text15 {
	margin-top: 35px;
	margin-bottom: 50px;
}
.carousel {
	margin-bottom: 30px;
}